body{
    background-color: #000000;
}

/* navigation bar */

.title h2{
    color: #a6d8ff;
    margin: .2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#011a2b;
    opacity: 0.8;
    font-family: 'Poppins',sans-serif;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.navlinks ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.navlinks li a{
    color: rgb(252, 252, 252);
    text-decoration: none ;
    font-size: 16px;
    padding: 14px 16px;
    display: block;
}
.navlinks li{
    list-style: none;
    display: inline;
    padding-right: 70px;
}
.navlinks li:hover{
    color: #0099ff;
}
.toggle-button{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
}
.toggle-button .bars{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.button {
    background-color: #ccebff;
    color: black;
    border: 3px solid #008CBA;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: #008CBA;
    color: white;
    border: 3px solid #ccebff;
}

@media (max-width: 600px){
    .toggle-button{
        display: flex;
    }
    .navlinks{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navlinks ul{
        width: 100%;
        flex-direction: column;
    }
    .navlinks li{
        text-align: center;
    }
    .navlinks li a{
        padding: .5rem 1rem;
    }
    .navlinks.active{
        display: flex;
    }
}

.bg-img1 {
    position: relative;
    text-align: center;
    color: white;
}
.div1 {
    position: absolute;
    bottom: 400px;
    left: 150px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.div2 {
    position: absolute;
    bottom: 350px;
    left: 150px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.div3 {
    position: absolute;
    bottom: 325px;
    left: 150px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.div4 {
    position: absolute;
    bottom: 300px;
    left: 150px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h2{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.middle
{
    margin-top:1%;
    margin-bottom:1%;
}
.inner
{
    width:33.33%;
    height:110px;
    border:1px solid blue;
    float:left;
    background-color:#011a2b;
}
.bg-img2 {
    position: relative;
    text-align: center;
    color: white;
    margin-top:10%;
}
.div1 {
    position: absolute;
    bottom: 400px;
    left: 150px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    top: 100px;
}
.div2 {
    position: absolute;
    bottom: 350px;
    left: 150px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    top: 300px;
    font-weight: bold;
}
.div3 {
    position: absolute;
    bottom: 325px;
    left: 150px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 350px;
    font-weight: bold;
}
.div4 {
    position: absolute;
    bottom: 300px;
    left: 150px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 380px;
    font-weight: bold;
}
#active {
    background-color: #84b7f5;
}
#links:hover{
    color: #0099ff;
}