<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payment</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!--Linking the CSS page -->
    <link rel="stylesheet" href="../static/CSS/Payment.css">
</head>

<body>

<form action="#" th:action="@{/Payment}" th:object="${payment}" method="post">
    <div class="formcontainer">

        <div class="container">
            <center><p>Your booking has been confirmed. Total price is Rs. <span th:text="${price}"></span>.0</p></center>
        </div>
    </div>
    <h1> Pay for your Reservation </h1>
    <div class="formcontainer">
        <hr/>
        <div class="container">

            <label><strong>Payer Name*</strong></label>
            <input type="text" placeholder="Enter Payer's Name" name="payerName" th:value="${payerName}" required>

            <label><strong>Payment Type*</strong></label>
            <select name="paymentType" id="paymentType"  th:value="${paymentType}">
                <option value="Select">Select</option>
                <option value="Credit">Credit</option>
                <option value="Debit">Debit</option>
                <option value="Cash">Cash</option>
            </select><br>

            <label><strong>Pay Amount*</strong></label>
            <input type="text" placeholder="Enter Pay Amount" name="payAmount" th:value="${payAmount}" required>

            <!-- Passing the values of hidden fields -->
            <input type="hidden" name="bookingID" th:value="${bookingID}">
            <input type="hidden" name="payDate" th:value="${payDate}">

        </div>

        <center>
            <input type="submit" value="Confirm Payment" name="book" class="book-button">
        </center>
    </div>
</form>
