
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Linking the CSS page -->
    <link rel="stylesheet" href="../static/CSS/RegistrationForm.css">

</head>

<body>
<form name="registrationForm" action="LoginForm.html" th:action="@{/RegistrationForm}" th:object="${registration}" method="post">
    <h1>Create Your Account</h1>
    <div class="formcontainer">
        <hr/>

        <div class="container">

            <label><strong>First Name</strong></label>
            <input type="text" placeholder="Enter First Name" name="firstName" th:field="*{firstName}" required>

            <label><strong>Last Name</strong></label>
            <input type="text" placeholder="Enter Last Name" name="lastName" th:field="*{lastName}" required>

            <label><strong>Mobile No</strong></label>
            <input type="text" placeholder="Enter Mobile Number" name="mobile" th:field="*{mobile}" required>

            <label><strong>Email</strong></label>
            <input type="text" placeholder="Enter Email" name="email" th:field="*{email}" required>

            <label><strong>Username</strong></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label><strong>Password</strong></label>
            <input type="password" placeholder="Enter Password" name="password" required>
        </div>

        <center>
            <input type="submit" value="Create Account" name="createAccount" class="create-account-button">
        </center>
    </div>
</form>
</body>
</html>
