<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Flights</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

    <!-- Linking the CSS page -->
    <link rel="stylesheet" href="../static/CSS/ViewFlights.css">

</head>

<body>

    <nav class="navbar">
        <div class="title"><h2>JetEase Airline</h2></div>

        <a href="#" class="toggle-button">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </a>

        <div class="navlinks">
            <ul>
                <li><a id = "links" href="UserDashboard.html">Home</a></li>
                <li><a id = "active" href="http://localhost:8080/ViewFlightsUser">Book Flights</a></li>
                <li><a id = "links" href="http://localhost:8080//ViewReservations">My Reservations</a></li>
                <li><a id = "links" href="" >My Account</a></li>
                <input class = "button" type="submit" value="Logout" name="logout" th:action="@{/Logout}"/>
            </ul>
        </div>
    </nav>
    <form>
        <center><h1>Flight Information </h1></center><br>
        <div class="formcontainer">
            <hr/>
            <div class="container">
                <table>
                    <thead>
                        <tr>
                            <th> Flight No </th>
                            <th> Flight Name </th>
                            <th> From City </th>
                            <th> To City </th>
                            <th> Departure Date </th>
                            <th> Departure Time </th>
                            <th> Duration </th>
                            <th> First Class Price </th>
                            <th> Business Class Price </th>
                            <th> Economy Class Price </th>
                            <th> Premium Economy Class Price </th>
                        </tr>

                    <tbody>
                        <tr th:each="flights : ${flights}">
                            <td th:text="${flights.flightID}"></td>
                            <td th:text="${flights.flightName}"></td>
                            <td th:text="${flights.fromCity}"></td>
                            <td th:text="${flights.toCity}"></td>
                            <td th:text="${flights.departureDate}"></td>
                            <td th:text="${flights.departureTime}"></td>
                            <td th:text="${flights.duration}"></td>
                            <td th:text="${flights.firstPrice}"></td>
                            <td th:text="${flights.businessPrice}"></td>
                            <td th:text="${flights.economyPrice}"></td>
                            <td th:text="${flights.premiumEconomyPrice}"></td>
                            <td> <button> <a th:href="@{/BookFlight(flightID=${flights.flightID}, departureDate=${flights.departureDate})}">Book</a> </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</body>
</html>

